<footer>
    <div class="row">
        <div class="col-sm-4">
            <h3>A propos</h3>
            <ul class="list-group">
                <li class="list-group-item">Liste une</li>
                <li class="list-group-item">Liste deux</li>
                <li class="list-group-item">Liste trois</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h3>Me contacter</h3>
            <ul class="list-group">
                <li class="list-group-item">mcolo.miftahou@gmail.com</li>
                <li class="list-group-item">Nice, Marseille, Toulouse, Agen, Bordeaux</li>
                <li class="list-group-item">07 82 59 75 73</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h3>Documents</h3>
            <ul class="list-group">
                <li class="list-group-item">Curiculom vitae</li>
                <li class="list-group-item">lettre de motivation</li>
            </ul>
        </div>
    </div>
</footer>